<p>Hi, <%= @job_application.full_name %>,</p>

<p>Congratulations! We are delighted to offer you the <%= @job_title %> position at <%= @company_name %>.</p>
<p>Our team will contact you shortly with the formal offer letter and next steps.</p>
<p>We're excited to have you onboard!</p>

<p>Best regards,</p>
<p><%= @company_name %> Hiring Team</p>
