<p>Hi, <%= @job_application.full_name %>,</p>

<p>Great news! We are impressed with your application for the <%= @job_title %> position at <%= @company_name %>,</p>
<p>You have been shortlisted for the next week. Our team will reach out to you soon to schedule an interview.</p>

<p>Best regards,</p>
<p><%= @company_name %> Hiring Team</p>
