<p>Dear <%= @job_application.full_name %>:</p>

<p>This letter is to let you know that we have received your application. We appreciate your interest in <%= @company_name %> and the position of <%= @job_title %> for which you applied. We are reviewing applications currently and expect to schedule interviews in the next couple of weeks. If you are selected for an interview, you can expect a phone call from our HR staff shortly.</p>

<p>Thank you, again, for your interest in our company. We do appreciate the time that you invested in this application.</p>

<p>Regards,</p>

<p><%= @company_name %> Hiring Team</p>
